.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#4fa7c9;
    color: white;
    padding: 20px 10px;

}
.header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
}
.header h2 {
    font-size: 30px;
}
.input {
    display: flex;
    justify-content: center;
}
.input input {
    width: 70%;
    outline : none;
    font-size: 20px;
}
.input button {
    background-color: #29a825;
}